*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
a{
    text-decoration: none;
    color:rgb(5, 5, 5);
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Abril Fatface', cursive;
    padding: .8rem;
}
h2{
    display: flex;
    width: 100%;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Abril Fatface', cursive;
    align-items: center;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
    color: black;
    text-transform: capitalize;
    font-size: 2.3em;
    font-weight: bold;
}
p{
    color: black;
    text-transform: capitalize;
    font-size: 2.5em;
    font-weight: lighter;
}
.grid{
    display: grid;
    height: 40vh;
    width: 100%;
    grid-template-areas: 
    " header "
    " seccionUno  "
    " seccionDos  "   
    " seccionTres " 
    " seccionCuatro "
    " footer ";
    grid-template-columns: 100% ;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 1fr ;
    gap: 2rem;
}
.header{
    grid-area: header;
    display: inline;
    position: static;
    width: 100%;
    background-color: rgb(193, 193, 255);
}
.seccionMenu{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.temaDePagina{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
}
.menu{
    background-color: aliceblue;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 100%;

    transition-duration: 2s;
} 
.menu:hover{
    background-color: rgb(250, 198, 224);
    width: 100%;
}   
.menuSecciones{
    display: flex;
    font-size: 60px;
    align-items: center;
}
nav.menu{
    display: inline-flex;
}
a:hover{
    color: rgb(250, 250, 250); 
    text-decoration: none;
}
/* .nombrePagina{
    text-transform: capitalize;
    font-family: 'Oleo Script', cursive;
} */
/* .cuadroSecciones{
    padding: 1%;
    display: flex;
    background-color: white;
    font-size: 2em;
    text-transform: capitalize;
    text-align: justify;
    justify-content: space-evenly;
    align-items: center;
} */
.seccionUno{
    grid-area: seccionUno;
    display: grid;
    margin-top: 2rem;
}
.cuadroSeccionUno{
    display: grid;
    margin: 2rem;
    padding: 2rem;
    height: 400px;
    /* background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); */
    background-image: url(https://media.istockphoto.com/photos/organised-pantry-items-in-storage-room-with-nonperishable-food-picture-id1302554065?k=20&m=1302554065&s=612x612&w=0&h=9JVItyQbfHA-QEGLEcIdCUFknjDI2wMzziddKtG_MjA=);
    background-color: rgb(250, 207, 241);
    background-size: 600px 400px;
    background-repeat: no-repeat;
    border-radius: 2rem;
    align-items: center;
    justify-content: right;
}
.seccionDos{
    grid-area: seccionDos;
    display: grid;
}
.cuadroSeccionDos{
    display: grid;
    margin: 2rem;
    padding: 2rem;
    height: 400px;
    background-image: url(https://media.istockphoto.com/photos/five-gold-star-rate-review-customer-experience-quality-service-on-picture-id1329308923?b=1&k=20&m=1329308923&s=170667a&w=0&h=pab-KvIvHqV4YBRCfV_aqBhdOZ7ZXjwp_-vAh2HZY7w=);
    background-color:   rgb(195, 200, 233);
    text-align: center;
    background-size: 600px 400px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    align-items: center;
    justify-content: left;

    animation-name: crecer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.seccionTres{
    grid-area: seccionTres;
    display: grid;
}
.cuadroSeccionTres{
    display: grid;
    margin: 2rem;
    padding: 2rem;
    height: 400px;
    background-color: rgb(250, 207, 241);
    text-align: center;
    line-height: 2;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;

    animation: crecer 2s infinite
}
.seccionTresDescripcion{
    display: flex;
    width: 550px;
}

@keyframes crecer {
    0%{transform: scale(1);}
    25%{transform: scale(.9);}
    50%{transform: scale(.8);}
    75%{transform: scale(.9);}
    }
.seccionCuatro{
    grid-area: seccionCuatro;
    display: grid;
}
.cuadroSeccionCuatro{
    display: grid;
    margin: 2rem;
    padding: 2rem;
    height: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2;
    background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    border: 2rem rgb(195, 200, 233);
    border-style:outset ;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
}
label{
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-transform: capitalize;
}
.subtituloTexto{
    display: flex;
    width: 1440px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 231, 250);
    font-size: medium;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
}
.contenidoPagina{
    grid-area: foto;
    display: inline-flex;
    width: 100%;
    height: 1100px;
    padding: 5rem;
    background-color: rgb(255, 199, 232);
    flex-wrap:nowrap;
    justify-content: baseline;
    align-items:flex-start;
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
    text-transform: capitalize;
    text-align: justify;
    flex-direction: row;
}
img{
    display: flex;
    width: auto;
    height: auto;
    width: 300px;
    max-height: 300px;
    justify-content: center;
    align-items: center;
}
.galeriaUno{
    width:100%;
    height: 400px;
    line-height: 50px;
}
.galeriaDos{
    width:100%;
    height: 400px;
    line-height: 50px;
}
p.galeriaNombreArticulo{
    display: flex;
    justify-content: center;
    align-items: center;

    animation: rotar 3s 1 linear
}
@keyframes rotar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
picture.galeriaImagenUno{
    display: grid;
    grid-area: foto1;
}
picture.galeriaImagenDos{
    display: grid;
    grid-area: foto2;
}
picture.galeriaImagenTres{
    display: grid;
    grid-area: foto3;
}
picture.galeriaImagenCuatro{
    display: grid;
    grid-area: foto4;
}
p.img{
    display: flex;
    justify-content: center;
}
.galeriaListadoArticulos{
    display: flex;
    justify-content: center;
}
.linkInicio:hover{
    color: rgb(247, 150, 206);
}
.footer{
    grid-area: footer;
    display: flex;
    background-color: rgba(139, 191,239, 0.68);
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    font-family: 'Oleo Script', cursive;
    font-size: 1.5em;
    color: black;
    position: sticky;
}
footer{
    height: 8rem;
}
/* @media screen and (max-width: 1024px) {
    body{ background-color: rgb(190, 204, 252);}
    #contenedor{
        grid-template-areas:
        " head head  "
        " menu menu  "
        " cuadro  cuadro "
        " cuadro  cuadro "
        " footer footer";
        grid-template-columns: repeat (2fr, 2fr);
        grid-template-rows: 2fr, 1fr, 3fr, 3fr, 2fr;
    }    } */
